{% extends 'base.html' %}
{% if form %}
    {% import "bootstrap/wtf.html" as wtf %}
{% endif %}

{% block title %} Cambio de contraseña {% endblock %}


{% block content %}

   {% if form %}
   <form class="form-signin" method="POST" action="{{url_for('empresa_bp.setnewpassword_post')}}">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.confirm_password) }}

         <button class="btn btn-lg btn-primary btn-block" type="submit"> Confirmar </button>
     </form>
    {% endif %}


{% endblock %}
