body{
  background-color:#0065ef;
  font-family: 'Roboto'
}
.container-info {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 490px; }
  @media (min-width: 768px) {
    .container-info {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%; } }



.container-main {

  position: relative;
  width: 100%;
  min-height: 490px;
  background-color:#0065ef;
  }
  @media (min-width: 768px) {
    .container-main {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100%;
      width: 50%; } }


@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
  position: relative;
  width: 100vmin;
  height: 30vmin;
  font-family: 'Roboto'
  color:white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#text1,
#text2 {
    position: absolute;
    width: 100%;


    /*font-family: "Raleway", sans-serif;*/
    font-size: 90pt;

    text-align: center;

    user-select: none;
}
/*BREAKING NEWS*/
.news {
    width: 160px
}

.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(207, 23, 23);
    border-radius: 50%;
    display: inline-block
}
@keyframes scroll1 {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-200%);
  }
}



section .scroll {
  width: 100%;
  display: flex;
  
  -webkit-user-select: none;  /* Chrome all / Safari all */
 -moz-user-select: none;     /* Firefox all */
 -ms-user-select: none;      /* IE 10+ */
 user-select: none;          /* Likely future */
}
section .scroll div {
  color: #000000;
  font-size: 4.5em;
  background: #eeeeeeee;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  animation: scroll1 30s linear infinite;
  animation-delay: -40s;
}
section .scroll div:nth-child(2) {
  animation: scroll2 30s linear infinite;
  animation-delay: -25s;
}
section .scroll div span {
  font-weight: 100;
}
section .scroll:nth-child(even) div {
  animation-direction: reverse;
}
section .scroll:nth-child(even) div:nth-child(2) {
  animation-direction: reverse;
}
section .scroll.text-1 {
  /*transform: rotate(15deg) translateY(100px);*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
section .scroll.text-2 {
  transform: rotate(-10deg) translateY(480px) translateX(-100px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
section .scroll.text-3 {
  transform: rotate(-15deg) translateY(-100px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
section .scroll.text-4 {
  transform: rotate(10deg) translateY(-250px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
section .scroll.text-5 {
  transform: rotate(10deg) translateY(320px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
section .scroll.text-6 {
  transform: rotate(5deg) translateY(100px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
