
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#preloader {

	height: 100%;
	line-height: unset !important;

}


#flip {
	height: 90px;
	text-align: center;
	overflow: hidden;
	width: Xu;
	height: Yu;


	/* margin-left: -(X/2)u;
	margin-top: -(Y/2)u; */
	color: white;
	font-weight: bolder;
	font-family: 'Montserrat';

  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 110px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

#flip>div>div {
	/* padding: 0px 12px; */
	/* height: 70px; */
	/* margin-bottom: 7px; */
	display: inline-block;
}

#flip div:first-child {
	animation: show 5s linear;
}

@keyframes show {
	0% {
		margin-top: -500px;
	}
	10% {
		margin-top: -450px;
	}
  20%{
    margin-top: -400px;
  }
  30%{
    margin-top: -350px;
  }
  40%{
    margin-top: -300px;
  }
  50%{
    margin-top: -250px;
  }
  60%{
    margin-top: -200px;
  }
  70%{
    margin-top: -150px;
  }
  80%{
    margin-top: -100px;
  }
  90%{
    margin-top: -50px;
  }
  100%{
    margin-top: 0px;
  }
	
}

.btn-principal{
	background-color: #000000;
	color:white;
	border-color: white;
	border-radius: 0;

}

.titulo{
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 110px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: bolder;
}

.bordes{
  border-color:black;
  border-style: solid;
  border-width:4px !important;
}

.disenio:hover{
  color:#0065EF;
  border-color:#0065EF;
}

.videojuegos:hover{
  color:#0065EF;
  border-color:#0065EF;
}

.fondo{
  background-color: black;
  color:white;
}

.ingenieria:hover{
  background-color: #0065EF;
}

.animacion:hover{
  background-color:#0065EF;
}

.carousel-arrow{
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0px;
}

body{
  /*CAMBIO DE COLOR*/
  /*background-color:#0065ef;*/
  background-color:white;
  font-family: 'Montserrat';

}

.brand-carousel{
  margin:0%;
}

.container-info {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 550px; }
  @media (min-width: 768px) {
    .container-info {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%; } }



.container-main {

  position: relative;
  width: 100%;
  min-height: 550px;
  /*CAMBIO DE COLOR*/
  background-color:#000000;
/*  background-color:white;*/
  }



@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
  position: relative;
  width: 100vmin;
  height: 30vmin;
  font-family: 'Roboto';
  /*CAMBIO DE COLOR*/
  color:white;
  /*color:#0065ef;*/
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /*CAMBIO DE COLOR*/
  -webkit-text-stroke-color: white;
/*  -webkit-text-stroke-color: #0065ef;*/
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    /*font-family: "Raleway", sans-serif;*/
    font-size: 90pt;

    text-align: center;

    user-select: none;
}
/*BREAKING NEWS*/
.breaking-news {
    width: 100%
}

.news-scroll a {
    text-decoration: none;
    color:white;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: black;
    border-radius: 50%;
    display: inline-block
}
@keyframes scroll1 {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-200%);
  }
}



@keyframes scroll1 {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-200%);
  }
}

.hidden {
  opacity:0;
}
.console-container {

  position: relative;

  font-family: 'Roboto';
  /*CAMBIO DE COLOR*/
  color:white;
  /*color:#0065ef;*/
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /*CAMBIO DE COLOR*/
  -webkit-text-stroke-color: white;
  /*  -webkit-text-stroke-color: #0065ef;*/

  font-size:3em;
  text-align:center;

  display:block;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


.card {
    font-family: 'Montserrat';
    /*CAMBIO DE COLOR*/
    color:white;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}


/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  /*border-radius: 10px;*/
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.dark {
  background-color: #000000;
}
.postcard.light {
  background-color: #e1e5ea;
}
.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
}
.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
