/* navbar */
/*
.navbar {
    background-color: white;
}

.footer {
    background-color: white;
}
*/
.fa {
  color: black;
}

.card-img-top {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}
