/* navbar */
/*
.navbar {
    background-color: white;
}

.footer {
    background-color: white;
}

body{
  background-color:#0065ef ;
}
*/



.footer {
    background-color: black;
    color:white;
}

.navbar{
  /*CAMBIO DE COLOR*/
  background-color: #000000;
  /*background-color: #0065ef;*/
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color:white;
}
.btn{
  color:white;
}
.card-img-top {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}

.scrollbar
{
	margin-left: 22px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

/*
 *  STYLE 1
 */
 html{
    scroll-behavior: smooth
 }
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #18151f;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #18151f;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}




.section-padding{
padding:60px 0;
}
.brand-carousel {
margin-top: 15%;
}
.owl-dots {
text-align: center;
margin-top: 4%;
}
.owl-dot {
display: inline-block;
height: 15px !important;
width: 15px !important;
background-color: #878787 !important;
opacity: 0.8;
border-radius: 50%;
margin: 0 5px;
}
.owl-dot.active {
background-color: #000 !important;
}

.filtered {
  /*
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  */
  float: left;
  max-width: 50%;
}

.modal.left .modal-dialog {
	position:fixed;
	right: 0;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  width: 80vh;
	border-radius: 0;
	border: none;
}
