<form action="/add contact" method = 'POST'>
    <label for="nombreEmpresa">Nombre de la empresa</label>
    <br>
    <input type="text" name = "nombreEmpresa" placeholder="nombreEmpresa">
    <br>
    <br>
    <label for="descripcion">Descripcion del evento</label>
    <br>
    <textarea id="descripcion" name="descripcion" rows = "10" cols = "50">
        Introduzca aquí la descripción
    </textarea>
    <br>
    <br>
    <label for="fechaInicio">Fecha de comienzo</label>
    <br>
    <input type="date" name = "fechaInicio">
    <br>
    <br>
    <label for="fechaFinal">Fecha de finalizacion</label>
    <br>
    <input type="date" name = "fechaFinal">
    <br>
    <br>
    <label for="correo">Correo de contacto</label>
    <br>
    <input type="email" name = "correo">
    <br>
    <br>
    <label for="telefono">Telefono de contacto</label>
    <br>
    <input type="text" name = "telefono">
    <br>
    <br>
    <label for="ubicacion">Ubicacion del evento</label>
    <br>
    <input type="text" name = "ubicacion">
    <br>
    <br>
    <button type="submit">
        Guardar
    </button>
</form>