<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <title>{% block title %}U-Tad CompanyDay {% endblock %}</title>

    {% block header %}{% endblock %}
  </head>
  <body >
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="container">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
          {% endfor %}
      </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-light sticky-top "  >
        <a class="navbar-brand" href="{{ url_for('index')}}">
          <img class="" src="/static/images/logo-utad-1-2.png" style="max-height: 50%;"  >
          <!--<img class="" src="/static/images/logo-CompanyDay.png"  >-->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('empresa_bp.all') }}">Empresas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('proyectos') }}">Actividades</a>
            </li>

            {% if current_user.is_authenticated %}
            <div class="nav-item active">
                <a href="" class="btn btn-default btn-rounded fa-solid fa-user" data-toggle="modal" data-target="#exampleModal"></a>
            </div>
            {% else %}
            <div class="nav-item active">
              <a href="" class="btn btn-default btn-rounded fa-solid fa-user" data-toggle="modal" data-target="#darkModalForm"></a>
            </div>
            {% endif %}



            </ul>
        </div>
        <a class="navbar-brand float-right" href="{{ url_for('index')}}">
          <img class="" src="/static/images/logo_companyday.png" style="max-height: 90%; "  >
          <!--<img class="" src="/static/images/logo-CompanyDay.png"  >-->
        </a>
    </nav>


    <!-- Modal -->

            <div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="nav flex-sm-column flex-row">
                                <a class="nav-item nav-link active" href="{{ url_for('empresa_bp.userProfile',editable=0) }}">Perfil</a>
                                <a class="nav-item nav-link" href="{{ url_for('empresa_bp.logout') }}">Logout</a>
                                {% if current_user.admin %}
                                <a class="nav-item nav-link" href="{{ url_for('admin.index') }}" style="color:red">Modo Administrador</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        <!--Content-->
        <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog form-dark" role="document">
        <div class="modal-content card card-image" style="background-color: #0065ef;">
          <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
            <!--Header-->
            <div class="modal-header text-center pb-4">
              <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>LOGIN</strong></h3>
              <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!--Body-->
            <div class="modal-body">
              <!--Body-->
              {% if loginForm %}
                  {% import "bootstrap/wtf.html" as wtf %}
              <form id="contact-form" class="form" action="/empresas/login" method="POST" role="form" enctype="multipart/form-data">
                  {{loginForm.hidden_tag()}}
                  <div class="form-group md-form mb-5">
                    <!--
                      <label data-error="wrong" data-success="right" class="form-label" for="mail">Email</label>
                      <input type="text" class="form-control  validate white-text" id="mail" name="mail" placeholder="Email" tabindex="1" required>
                    -->
                    {{ wtf.form_field(loginForm.email) }}
                  </div>
                  <div class="form-group md-form pb-3">
                    <!--
                      <label data-error="wrong" data-success="right" class="form-label" for="password">Contraseña</label>
                      <input type="password" class="form-control validate white-text" id="password" name="password" placeholder="Contraseña" tabindex="2" required>
                    -->
                    {{ wtf.form_field(loginForm.password) }}
                  </div>
                  <div class="form-group mt-4 pb-3">
                    <label class="checkbox" class="white-text form-check-label">
                      <!--
                        <input class="form-check-input" type="checkbox" name="remember">
                        Recordar
                      -->
                      {{ wtf.form_field(loginForm.remember) }}
                    </label>
                  </div>
                  <div class="field">

                  <div class="text-center">
                      <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Log in</button>
                  </div>
              </form>
              {% endif %}
              <!--Grid row-->
              <div class="row">

              </div>
              <!--Grid row-->

            </div>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
            </div>
    <!-- Modal -->


    <div class="container-fluid ">

        {% block content %} {% endblock %}
    </div>





<!-- Footer -->
    <footer class="footer">
      <div class="container py-5">
        <div class="row py-4">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <img src="/static/images/logos-company-day-03.png" alt="" width="180" class="mb-3">
            <ul class="list-inline mt-4">
              <li class="list-inline-item px-2"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item px-2"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item px-2"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">U-Tad</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-white">Login</a></li>
              <li class="mb-2"><a href="#" class="text-white">Registro</a></li>
              <li class="mb-2"><a href="#" class="text-white">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Copyrights -->
      <div class="py-4">
        <div class="container text-center">
          <p class="mb-0 py-2">© 2022 Proyectos 3 U-Tad</p>
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block script %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a94fe0cfd7.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/javascript/base.js"></script>
  </body>
</html>
