{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">



{% endblock %}


{% block content %}

    <h3>{% block title %} Charlas U-Tad CompanyDay {% endblock %}</h3>

      <div class="container">
      <div class="row mb-2">
        {% for charla in charlas %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{charla.nombre}}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{charla.titulo}}</a>
              </h3>
              <div class="mb-1 text-muted">{{charla.fecha}}</div>
              <div class="mb-1 text-muted">{% if charla.presencialidad %} Presencial {% else %} Online {% endif %}</div>
              <p class="card-text mb-auto">{{charla.tema}}</p>
              <a href="#">Mas Informacion</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="/static/images/customlogos/{{charla.logo}}" data-holder-rendered="true">
          </div>
        </div>
        {% endfor %}
      </div>
      </div>

{% endblock %}

{% block script %}

{% endblock %}
