{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/css/empresas.css">
{% endblock %}

{% block content %}
    <h3>{% block title %} Datos Empresa {% endblock %}</h3>
    <div class="card-deck">
    {% for empresa in empresas %}

    <div class="col-lg-4">
          <div class="card p-0">
              <div class="card-image"> <img src="/static/images/customlogos/{{empresa.logo}}" alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                  <h4 class="pt-2">{{empresa.nombre}}</h4>
                  <a href="{{empresa.urlWeb}}""> Link a la web</a>
                  <ul class="social-icons d-flex justify-content-center">
                      <li style="--i:1"> <a href="#"> <span class="fab fa-facebook"></span> </a> </li>
                      <li style="--i:2"> <a href="#"> <span class="fab fa-twitter"></span> </a> </li>
                      <li style="--i:3"> <a href="#"> <span class="fab fa-instagram"></span> </a> </li>
                  </ul>
              </div>
          </div>
      </div>
    <!--
        <div class="card" style="min-width: 20rem; max-width: 20rem; margin-top: 5px;">
          <div style="min-width: 20rem; max-width: 20rem;">
            <img src="{{empresa.logo}}" class="img-responsive mx-auto d-block"  alt="...">
              <div class="card-body">
                <h5 class="card-title">{{empresa.nombre}}</h5>
                <p class="card-text">{{empresa.descripcion}}</p>
                <a href="#" class="btn btn-primary">Más informacion</a>
              </div>
          </div>
        </div>
      -->
        <!-- fasfaf -->
        <!--
        <div class="card" style="min-width: 20rem; max-width: 22rem; margin-top: 5px;">
            <img src="{{empresa.logo}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{empresa.nombre}}</h5>
                <p class="card-text">{{empresa.descripcion}}</p>
                <a href="#" class="btn btn-primary">Más informacion</a>
          </div>
        </div>
        <div class="card" style="min-width: 20rem; max-width: 22rem; margin-top: 5px;">
            <img src="{{empresa.logo}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{empresa.nombre}}</h5>
                <p class="card-text">{{empresa.descripcion}}</p>
                <a href="#" class="btn btn-primary">Más informacion</a>
          </div>
        </div>
        <div class="card" style="min-width: 20rem; max-width: 22rem; margin-top: 5px;">
            <img src="{{empresa.logo}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{empresa.nombre}}</h5>
                <p class="card-text">{{empresa.descripcion}}</p>
                <a href="#" class="btn btn-primary">Más informacion</a>
          </div>
        </div>
        <div class="card" style="min-width: 20rem; max-width: 22rem; margin-top: 5px;">
            <img src="{{empresa.logo}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{empresa.nombre}}</h5>
                <p class="card-text">{{empresa.descripcion}}</p>
                <a href="#" class="btn btn-primary">Más informacion</a>
          </div>
        </div>
        <div class="card" style="min-width: 20rem; max-width: 22rem; margin-top: 5px;">
            <img src="{{empresa.logo}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{empresa.nombre}}</h5>
                <p class="card-text">{{empresa.descripcion}}</p>
                <a href="#" class="btn btn-primary">Más informacion</a>
          </div>
        </div>
        -->
    {% endfor %}
    </div>
{% endblock %}
