{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/css/empresas.css">
{% endblock %}

{% block content %}
    <h1 class="title text-center">{% block title %} ASISTEN AL EVENTO {% endblock %}</h1>
    <div class="card-deck ml-5">
    {% for empresa in empresas %}

    <div class="col-lg-4">
          <div class="cardEmpresa p-0">
              <a href="{{ url_for('empresa_bp.show',nombre=empresa.nombre) }}">
                <div class="card-image"> <img src="/static/images/customlogos/{{empresa.logo}}" alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">{{empresa.nombre}}</h4>
                </div>
              </a>
          </div>
      </div>


    {% endfor %}
    </div>
{% endblock %}
