{% extends 'base.html' %}


{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/css/empresa.css">
<!--  <link rel="stylesheet" type="text/css" href="/static/css/empresas.css">-->
  <style>
    [contenteditable="True"] {
        background-color: #FFCC66;
    }

    [contenteditable="True"]:focus {
        background-color: white;
    }
  </style>
  <script>
    function redirectEditProfile(){
      window.location.href = '/empresas/user_profile/1';
    }
    function redirectCancelEditProfile(){
      document.getElementById("cancel").value = "1";
    }
  </script>
{% endblock %}

{% block content %}

        <div class="row p-4">
          <div class="col-lg-4">
            <div class="card mb-4 ">
              <div class="card-body text-center">
                <img src="/static/images/customlogos/{{empresa.logo}}" alt="logo" class="img-fluid" style="width: 150px;">
                <h5 class="my-3 ">{{empresa.nombre}}</h5>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fas fa-globe fa-lg text-warning"></i>
                    <a  href="{{empresa.urlWeb}}" target="_blank" class="mb-0">{{empresa.urlWeb}}</a>
                  </li>
                </ul>
              </div>
            </div>
            {% if current_user.id == empresa.id or current_user.admin%}
            <div class="card mb-4">
              <div class="card-body">
              {% if current_user.id == empresa.id%}
                <div class="row">
                  <div class="col-sm-9">
                  </div>
                  <div class="col-sm-3">
                    <div class="text-center">
                      <button class="btn btn-dark" onclick="redirectEditProfile()">Editar</button>
                    </div>
                  </div>
                </div>
                <hr>
                {% endif %}
              {% if editable == 0 %}
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Persona de contacto</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{empresa.personaContacto}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{empresa.email}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Teléfono</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{empresa.telefono}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Dirección</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{empresa.direccion}} ({{empresa.provincia}}, {{empresa.pais}}), {{empresa.codigoPostal}}
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-9">
                    <p class="mb-0">Personas asistentes</p>
                  </div>
                </div>
                  <div class="row">
                  {% for persona in personas %}
                  <div class="col-sm-9 m-2">
                    <p class="text-muted mb-0">Nombre: {{persona.nombre}}</p>
                    <p class="text-muted mb-0">Puesto: {{persona.puesto}}</p>
                    <p class="text-muted mb-0">Comentario: {{persona.comentario}}</p>
                  </div>
                  <hr>
                  {% endfor %}
                </div>
                <hr>
              {% else %}
                {% if formEdit %}
                {% import "bootstrap/wtf.html" as wtf %}

                <form id="contact-form" class="form" action="/empresas/update" method="POST" role="form" enctype="multipart/form-data">
                  {{ formEdit.hidden_tag() }}
                  {{ wtf.form_field(formEdit.nombre) }}
                  {{ wtf.form_field(formEdit.personaContacto) }}
                  {{ wtf.form_field(formEdit.telefono) }}
                  {{ wtf.form_field(formEdit.urlWeb) }}
                    <label for="logo" style="color:black;">Selecciona un logo:</label>
                  {{ wtf.form_field(formEdit.logo) }}
                  {{ wtf.form_field(formEdit.direccion) }}
                  {{ wtf.form_field(formEdit.poblacion) }}
                  {{ wtf.form_field(formEdit.provincia) }}
                  {{ wtf.form_field(formEdit.codigoPostal) }}
                  {{ wtf.form_field(formEdit.pais) }}
                  <div class="col-sm-3">
                    <button type="submit" class="btn btn-success">Guardar</button>
                  </div>
                  <!--
                  <div class="form-group">
                    <label class="form-label" for="id">Persona de Contacto</label>
                    <input type="text" class="form-control" id="personaContacto" name="personaContacto" placeholder="Persona de Contacto" value="{{empresa.personaContacto}}" tabindex="1" required>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label class="form-label" for="tema">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" tabindex="2" value="{{empresa.email}}" required>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label class="form-label" for="titulo">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono" value="{{empresa.telefono}}" tabindex="2" required>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label class="form-label" for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección" value="{{empresa.direccion}}" tabindex="4" required>
                    <label class="form-label" for="provincia">Provincia</label>
                    <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" value="{{empresa.provincia}}" tabindex="4" required>
                    <label class="form-label" for="pas">Pais</label>
                    <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais" value="{{empresa.pais}}" tabindex="4" required>
                    <label class="form-label" for="codigoPostal">Código Postal</label>
                    <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" placeholder="Código Postal" value="{{empresa.codigoPostal}}" tabindex="4" required>
                  </div>
                  <hr>
                  {% if current_user.id == empresa.id %}
                  <div class="row">
                    <div class="col-sm-3">
                      <input type="hidden" class="form-control" id="cancel" name="cancel" placeholder="Hidden" value="0" required>
                      <button class="btn btn-danger" onclick="redirectCancelEditProfile()">Cancelar</button>
                    </div>
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-3">
                      <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                  </div>
                  {% endif %}
                  <hr>
                  -->
                </form>
                {% endif %}
              {% endif %}

              </div>
            </div>
            {% endif %}
          </div>

          <div class="col-lg-8">

            <div class="row justify-content-center">

              <h1 class=""> EVENTOS A LOS QUE ASISTE </h1>
              {% if current_user.id == empresa.id %}
              <div class="col-md-12 py-4">
                <a type="button" class="btn btn-dark m-1"  data-toggle="modal" data-target="#registroModalSpeedMeetings" href="">Registro Speed meeting</a>
                <a type="button" class="btn btn-dark m-1"  data-toggle="modal" data-target="#registroModalCharla" href="">Registro Charla</a>
              </div>
              {% endif %}

              <div class="col-md-12">
                {% for eventoFeriaEmpresas in eventosFeriaEmpresa %}
                    <article class="postcard dark blue">
                      <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://st1.u-tad.com/media/sites/2/2021/09/company-day-event-u-tad.jpeg" alt="Image Title" />
                      </a>
                      <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="{{eventoFeriaEmpresas.url}}" target="_blank">Feria de empresas</a></h1>
                        <div class="postcard__subtitle small">
                          <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>{{eventoFeriaEmpresas.fecha}}
                          </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                          {% if eventoFeriaEmpresas.presencial %}
                            Presencial
                          {% else %}
                            Online
                          {% endif %}
                        </div>
                      </div>
                    </article>
                {% endfor %}

              </div>
              <div class="col-md-12">
                {% for eventoPresentacionProyectos in eventosPresentacionProyectos %}
                <article class="postcard dark blue">
                  <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://media.vandal.net/i/1200x630/11-2021/202111239321190_1.jpg" alt="Image Title" />
                  </a>
                  <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="{{eventoPresentacionProyectos.url}}" target="_blank">Presentación de proyectos</a></h1>
                    <div class="postcard__subtitle small">
                      <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i><!--Mon, May 25th 2020-->
                      </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                      {% if eventoPresentacionProyectos.presencial %}
                        Presencial
                      {% else %}
                        Online
                      {% endif %}
                      <br>
                      {% if eventoPresentacionProyectos.videojuegos %}
                        Videojuegos &nbsp;
                      {% endif %}
                      {% if eventoPresentacionProyectos.disenoDigital %}
                        Diseño digital &nbsp;
                      {% endif %}
                      {% if eventoPresentacionProyectos.cortosAnimacion %}
                        Cortos de animación &nbsp;
                      {% endif %}
                      {% if eventoPresentacionProyectos.ingenieria %}
                        Ingeniería &nbsp;
                      {% endif %}
                    </div>
                  </div>
                </article>
                {% endfor %}

              </div>
              <div class="col-md-12">
                {% for eventoSpeedMeeting in eventosSpeedMeeting %}
                <article class="postcard dark blue">
            			<a class="postcard__img_link" href="#">
            				<img class="postcard__img" src="https://st1.u-tad.com/media/2020/11/tecnologias-educativas.jpg" alt="Image Title" />
            			</a>
            			<div class="postcard__text">
            				<h1 class="postcard__title blue"><a href="{{eventoSpeedMeeting.url}}" target="_blank">Speed meetings</a></h1>
            				<div class="postcard__subtitle small">
            					<time datetime="2020-05-25 12:00:00">
            						<i class="fas fa-calendar-alt mr-2"></i>{{eventoSpeedMeeting.fecha}}
            					</time>
                      <i class="fas fa-clock mr-2"></i>Inicio: {{eventoSpeedMeeting.horaInicio}}
                      <i class="fas fa-clock mr-2"></i>Final: {{eventoSpeedMeeting.horaFin}}
            				</div>
            				<div class="postcard__bar"></div>
            				<div class="postcard__preview-txt">
                      Perfiles: {{eventoSpeedMeeting.perfiles}}
                      <br>
                      Pregunta: {{eventoSpeedMeeting.pregunta}}
                      {% if current_user.id == empresa.id %}
                      {% if eventoSpeedMeeting.aprobada == false %}
                      <br>
                      <button type="button" class="btn btn-danger" onclick="location.href = '/speedMeeting/{{eventoSpeedMeeting.id}}/delete';">Eliminar</button>
                      {% endif %}
                      {% endif %}
                    </div>
            			</div>
            		</article>
                {% endfor %}

              </div>
              <div class="col-md-12">
                {% for eventoCharla in eventosCharla %}
                <article class="postcard dark blue">
                  <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://st1.u-tad.com/media/2020/11/tecnologia-educativa-formacion.jpg" alt="Image Title" />
                  </a>
                  <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="{{eventoCharla.url}}" target="_blank">Charlas</a></h1>
                    <div class="postcard__subtitle small">
                      <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>{{eventoCharla.fecha}}
                      </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                      {{eventoCharla.titulo}}
                      </br>
                      {% if eventoCharla.presencial %}
                        Presencial
                      {% else %}
                        Online
                      {% endif %}
                      </br>
                      Autor: {{eventoCharla.autor}}
                      </br>
                      </br>
                      {{eventoCharla.tema}}
                      {% if current_user.id == empresa.id %}
                      {% if eventoCharla.aprobada == false %}
                      <br>
                      <button type="button" class="btn btn-danger" onclick="location.href = '/charlas/{{eventoCharla.id}}/delete';">Eliminar</button>
                      {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </article>
                {% endfor %}

              </div>
            </div>
          </div>

          <!--
          <div class="modal fade" id="registroModalPresentaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog form-dark" role="document">
              <div class="modal-content card card-image" style="background-color: #0065ef;">
                <div class="text-white rgba-stylish-strong py-2 px-5 z-depth-4">
                  <div class="modal-header text-center pb-1">
                    <h5 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>Registro Presentaciones</strong></h5>
                    <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% include 'modalRegistroPresentaciones.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->

          <div class="modal fade" id="registroModalSpeedMeetings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog form-dark" role="document">
              <div class="modal-content card card-image" style="background-color: #0065ef;">
                <div class="text-white rgba-stylish-strong py-2 px-5 z-depth-4">
<!--Header-->
                  <div class="modal-header text-center pb-1">
                    <h5 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>Registro Speed Meetings</strong></h5>
                    <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
<!--Body-->
                  <div class="modal-body">
                    {% include 'modalRegistroSpeedMeetings.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>



        <div class="modal fade" id="registroModalCharla" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog form-dark" role="document">
              <div class="modal-content card card-image" style="background-color: #0065ef;">
                <div class="text-white rgba-stylish-strong py-2 px-5 z-depth-4">
<!--Header-->
                  <div class="modal-header text-center pb-1">
                    <h5 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>Registro Charla</strong></h5>
                    <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
<!--Body-->
                  <div class="modal-body">
                    {% include 'modalRegistroCharla.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>

{% endblock %}
