<!DOCTYPE html>

{% extends 'base.html' %}
<!--
<html>
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
    -->
    {% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="/static/css/index.css">

		<style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


      #magic {
        font-family: 'Roboto' !important;
        width: 100%;
        height: 100vh;
        position:relative;
        z-index: 0;
      }


      /*
      .playground{

        position: fixed;
        width: 100%;
        height: 100vh;
        display: block;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

      }
      */




		</style>
    {% endblock %}
    <!--
	</head>

	<body>
  -->
    {% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r115/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="/static/javascript/jquery.sticky.js"></script>
    <script src="/static/javascript/pruebas.js"></script>

		<script src="/static/javascript/magic.js"></script>
<script type="x-shader/x-vertex" id="vertexshader">

  attribute float size;
  attribute vec3 customColor;
  varying vec3 vColor;

  void main() {

    vColor = customColor;
    vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
    gl_PointSize = size * ( 300.0 / -mvPosition.z );
    gl_Position = projectionMatrix * mvPosition;

  }

</script>
<script type="x-shader/x-fragment" id="fragmentshader">

 uniform vec3 color;
 uniform sampler2D pointTexture;

 varying vec3 vColor;

 void main() {

   gl_FragColor = vec4( color * vColor, 1.0 );
   gl_FragColor = gl_FragColor * texture2D( pointTexture, gl_PointCoord );

 }
</script>


<!-- Primer bloque -->
<div class="row" style="color:white">
  <section class="container-fluid">

     <div class="container-info " style="transform: rotate(-90deg);">
       <div id="magic"></div>
     </div>
     <div class="container-main pt-4">
         <div class="row" >
           <div id="container">
                <span id="text1"></span>
                <span id="text2"></span>
            </div>
          </div>
          <div class="row">
            <div class="container">
              <div class="row"><h3>What we do</h3></div>
              <div class="row"><p>blablabla</p></div>
          </div>
          </div>
          <div class="row">
            <button type="button" class="btn btn-dark m-2">Agenda</button>
            <button type="button" class="btn btn-dark m-2">Registro</button>
          </div>
     </div>

  </section>
</div>

<!-- Segundo bloque -->
  <div class="row">
    <div class="container">
      <div class="brand-carousel section-padding owl-carousel">
        {% for empresa in empresas %}
        <div class="single-logo">
          <img src="/static/images/customlogos/{{empresa.logo}}" class="filtered" alt="ERROR">
        </div>
        {% endfor %}
      </div>
    </div>
</div>

<!-- Tercer Bloque-->
  <div class="row">
  </div>

<!-- Cuarto Bloque-->
  <div class="row ">
    <div class="container">
      <div class="row">
        <!-- BREAKING NEWS -->
        <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center breaking-news bg-white">
                  <!--<div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;CNN News</span></div>-->
                  <marquee class="news-scroll"  direction="left">
                    <a href="#"> &emsp; ACTIVIDADES &emsp; </a>
                     <span class="dot"></span>
                     <a href="#"> &emsp; CHARLAS &emsp; </a>
                      <span class="dot"></span>
                      <a href="#"> &emsp; FERIA DE EMPRESAS &emsp; </a>
                      <span class="dot"></span>
                      <a href="#"> &emsp; PRESENTACIÓN DE PROYECTOS &emsp; </a>
                      <span class="dot"></span>
                      <a href="#"> &emsp; SPEED MEETINGS &emsp; </a>
                    </marquee>
              </div>
          </div>
      </div>
      <div class="row p-2">
        <div class="container">
        <div class="row p-2">
          <div class="col-md-6">
            <div class="card " style="max-width: 500px;">
              <div class="row">
                  <div class="col-sm-5" style="background: #868e96;">
                      <!--<img src="/examples/images/sample.svg"  alt="...">-->
                  </div>
                  <div class="col-sm-7">
                      <div class="card-body">
                          <h5 class="card-title">FERIA DE EMPRESAS</h5>
                          <p class="card-text">El principal punto de encuentro del evento, un espacio donde empresas y el talento U-tad podrán darse a conocer, charlar sobre sus proyectos y ponerse en valor.</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="col-md-6">
            <div class="card " style="max-width: 500px;">
              <div class="row">
                  <div class="col-sm-5" style="background: #868e96;">
                      <!--<img src="/examples/images/sample.svg"  alt="...">-->
                  </div>
                  <div class="col-sm-7">
                      <div class="card-body">
                          <h5 class="card-title">PRESENTACIÓN DE PROYECTOS</h5>
                          <p class="card-text">Cortos de animación y VFX, videojuegos, portfolios de diseño, apps, experiencias de realidades extendidas… Los alumnos presentan sus proyectos a las empresas.</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card " style="max-width: 500px;">
              <div class="row">
                  <div class="col-sm-5" style="background: #868e96;">
                      <!--<img src="/examples/images/sample.svg"  alt="...">-->
                  </div>
                  <div class="col-sm-7">
                      <div class="card-body">
                          <h5 class="card-title">SPEED MEETINGS</h5>
                          <p class="card-text">43 empresas realizarán entrevistas de prácticas y empleo.

Empresas: tendrás acceso a una base de CVs para filtrar y seleccionar los más adecuados para ti antes del evento.

Estudiantes: podrás solicitar las ofertas y enviar tu perfil a las empresas que más te interese conocer.</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="col-md-6">
            <div class="card " style="max-width: 500px;">
              <div class="row">
                  <div class="col-sm-5" style="background: #868e96;">
                      <!--<img src="/examples/images/sample.svg"  alt="...">-->
                  </div>
                  <div class="col-sm-7">
                      <div class="card-body">
                          <h5 class="card-title">CHARLAS</h5>
                          <p class="card-text">Conoce lo que las empresas buscan y en lo que trabajan, a reclutadores y profesionales que te darán información de primera mano sobre sus procesos de selección, sectores y casos de éxito.

Las charlas y ponencias se realizarán online durante toda la semana del 15 al 19 de noviembre.</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    {% endblock %}


{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/static/javascript/index.js"></script>

{% endblock %}
