{% extends 'base.html' %}


{% block header %}
{% endblock %}

{% block content %}
    <h3>{% block title %} Login {% endblock %}</h3>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('empresa_bp.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" action="/empresas/login" method="POST" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" for="id">Id Empresa</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="Id Empresa" tabindex="1" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Contraseña</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña" tabindex="2" required>
                </div>
                <div class="form-group">
                  <label class="checkbox">
                      <input type="checkbox" name="remember">
                      Recordar
                  </label>
                </div>
                <div class="field">

                <div class="text-center">
                    <button type="submit" class="btn btn-start-order">Guardar</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
