{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/static/css/empresa.css">



{% endblock %}


{% block content %}

    <h1  class="title text-center">{% block title %} Actividades {% endblock %}</h1>

      <div class="container">
        {% for proyecto in proyectos %}
        <article class="postcard dark blue">
          <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="/static/images/customlogos/{{proyecto.logo}}" alt="Image Title" />
          </a>
          <div class="postcard__text">
            <h1 class="postcard__title blue"><a href="{{proyecto.url}}">Presentación de proyectos</a></h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-2"></i><!-- Mon, May 25th 2020 -->
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">
              {% if proyecto.presencial %}
                Presencial
              {% else %}
                Online
              {% endif %}
              <br>
              {% if proyecto.videojuegos %}
                Videojuegos &nbsp;
              {% endif %}
              {% if proyecto.disenoDigital %}
                Diseño digital &nbsp;
              {% endif %}
              {% if proyecto.cortosAnimacion %}
                Cortos de animación &nbsp;
              {% endif %}
              {% if proyecto.ingenieria %}
                Ingeniería &nbsp;
              {% endif %}
            </div>
          </div>
        </article>
        {% endfor %}

        {% for charla in charlas %}
        <article class="postcard dark blue">
          <a class="postcard__img_link" href="#">
            <img class="postcard__img" src="/static/images/customlogos/{{charla.logo}}" alt="Image Title" />
          </a>
          <div class="postcard__text">
            <h1 class="postcard__title blue"><a href="{{charla.url}}">Charlas</a></h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="fas fa-calendar-alt mr-2"></i>{{charla.fecha}}
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">
              {{charla.titulo}}
              </br>
              {% if charla.presencial %}
                Presencial
              {% else %}
                Online
              {% endif %}
              </br>
              Autor: {{charla.autor}}
              </br>
              </br>
              {{charla.tema}}
            </div>
          </div>
        </article>
        {% endfor %}


        {% for eventoFeriaEmpresas in eventosFeriaEmpresa %}
            <article class="postcard dark blue">
              <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/static/images/customlogos/{{eventoFeriaEmpresas.logo}}" alt="Image Title" />
              </a>
              <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="{{eventoFeriaEmpresas.url}}" target="_blank">Feria de empresas</a></h1>
                <div class="postcard__subtitle small">
                  <time datetime="2020-05-25 12:00:00">
                    <i class="fas fa-calendar-alt mr-2"></i>{{eventoFeriaEmpresas.fecha}}
                  </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                  {% if eventoFeriaEmpresas.presencial %}
                    Presencial
                  {% else %}
                    Online
                  {% endif %}
                </div>
              </div>
            </article>
        {% endfor %}
      </div>

{% endblock %}

{% block script %}

{% endblock %}
