{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} Formulario de registro para empresa {% endblock %}</h3>

    <div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2>Registro Empresa</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
          <form id="contact-form" class="form" action="/empresas/crear" method="POST" role="form" enctype="multipart/form-data">
              <div class="form-group">
                  <label class="form-label" for="id">Id Empresa</label>
                  <input type="text" class="form-control" id="id" name="id" placeholder="Id Epresa" tabindex="1" required>
              </div>
              <div class="form-group">
                  <label class="form-label" for="nombreEmpresa">Nombre Empresa</label>
                  <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" placeholder="Nombre Empresa" tabindex="2" required>
              </div>
              <div class="form-group">
                  <label class="form-label" for="descripcion">Descripción</label>
                  <textarea rows = "10" cols = "50" type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" tabindex="3"></textarea>
              </div>
              <div class="form-group">
                <label class="form-label" for="correo">Email</label>
                <input type="email" class="form-control" id="correo" name="correo" placeholder="Email" tabindex="4" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono" tabindex="5" required>
              </div>
              <div class="form-group">
                <label class="form-label" for="ubicacion">Ubicación</label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Ubicación" tabindex="6" required>
              </div>
              <div class="form-group">
                <label for="logo"Selecciona un logo:</label>
                <input type="file" id="logo" name="logo">
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-start-order">Guardar</button>
              </div>
          </form>
      </div>
  </div>
</div>


{% endblock %}
