{% extends 'base.html' %}

{% block content %}
    <h3>{% block title %} Formulario de registro para empresa {% endblock %}</h3>

    <form action="/empresas/crear" method = 'POST' enctype="multipart/form-data">
      <label for="id">Id de la empresa</label>
      <br>
      <input type="text" name = "id" placeholder="id">
      <br>
      <label for="nombreEmpresa">Nombre de la empresa</label>
      <br>
      <input type="text" name = "nombreEmpresa" placeholder="nombreEmpresa">
      <br>
      <br>
      <label for="descripcion">Descripcion del evento</label>
      <br>
      <textarea id="descripcion" name="descripcion" rows = "10" cols = "50">
          Introduzca aquí la descripción
      </textarea>
      <br>
      <br>
      <label for="correo">Correo de contacto</label>
      <br>
      <input type="email" name = "correo">
      <br>
      <br>
      <label for="telefono">Telefono de contacto</label>
      <br>
      <input type="text" name = "telefono">
      <br>
      <br>
      <label for="ubicacion">Ubicacion del evento</label>
      <br>
      <input type="text" name = "ubicacion">
      <br>
      <br>
      <label for="logo"Selecciona un logo:</label>
      <input type="file" id="logo" name="logo">
      <br>
      <br>
      <button type="submit">
          Guardar
      </button>
    </form>
{% endblock %}
