<script type="text/javascript" src="/static/javascript/userInterface.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/userInterface.css">

<!--
    <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
      {% include 'userInterface.html' %}
    </nav>
-->


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <a class="nav-link">Usuario</a>
      </div>
    </div>
  </div>
</nav>

      <!-- Page Content -->

      <!-- /#page-content-wrapper -->
      <!-- /#wrapper -->
